/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #4d8efe !important;
  --toolbarbutton-icon-fill: #adc6ff !important;
  --toolbar-field-color: #e1e2eb !important;
  --tab-selected-textcolor: #adc6ff !important;
  --toolbar-color: #e1e2eb !important;
  --arrowpanel-color: #e1e2eb !important;
  --arrowpanel-background: #1d2026 !important;
  --sidebar-text-color: #e1e2eb !important;
/*  --zen-main-browser-background: #11131a !important; */
}

.sidebar-placesTree {
  background-color: #1d2026 !important;
}

#zen-workspaces-button {
  background-color: #1d2026 !important;
}

#TabsToolbar {
  background-color: #11131a !important;
}

.urlbar-background {
  background-color: #1d2026 !important;
}

.urlbar-input::selection {
  color: #002e69 !important;
  background-color: #adc6ff !important;
}

.urlbarView-url {
  color: #c2c6d5 !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #adc6ff
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #b9d4ff !important;
  --identity-icon-color: #b9d4ff !important;
}

.identity-color-turquoise {
  --identity-tab-color: #adc6ff !important;
  --identity-icon-color: #adc6ff !important;
}

.identity-color-green {
  --identity-tab-color: #86e086 !important;
  --identity-icon-color: #86e086 !important;
}

.identity-color-yellow {
  --identity-tab-color: #e8e197 !important;
  --identity-icon-color: #e8e197 !important;
}

.identity-color-orange {
  --identity-tab-color: #dbd27b !important;
  --identity-icon-color: #dbd27b !important;
}

.identity-color-red {
  --identity-tab-color: #e0605f !important;
  --identity-icon-color: #e0605f !important;
}

.identity-color-pink {
  --identity-tab-color: #517bac !important;
  --identity-icon-color: #517bac !important;
}

.identity-color-purple {
  --identity-tab-color: #8e9dbf !important;
  --identity-icon-color: #8e9dbf !important;
}

#zen-appcontent-navbar-container {
  background-color: #11131a !important;
}
