/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #424753 !important;
  --toolbarbutton-icon-fill: #c2c6d6 !important;
  --toolbar-field-color: #e4e2e3 !important;
  --tab-selected-textcolor: #c2c6d6 !important;
  --toolbar-color: #e4e2e3 !important;
  --arrowpanel-color: #e4e2e3 !important;
  --arrowpanel-background: #1f1f21 !important;
  --sidebar-text-color: #e4e2e3 !important;
/*  --zen-main-browser-background: #131315 !important; */
}

.sidebar-placesTree {
  background-color: #1f1f21 !important;
}

#zen-workspaces-button {
  background-color: #1f1f21 !important;
}

#TabsToolbar {
  background-color: #131315 !important;
}

.urlbar-background {
  background-color: #1f1f21 !important;
}

.urlbar-input::selection {
  color: #2b303c !important;
  background-color: #c2c6d6 !important;
}

.urlbarView-url {
  color: #c8c6c7 !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #c2c6d6
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #d0d4e5 !important;
  --identity-icon-color: #d0d4e5 !important;
}

.identity-color-turquoise {
  --identity-tab-color: #c2c6d6 !important;
  --identity-icon-color: #c2c6d6 !important;
}

.identity-color-green {
  --identity-tab-color: #86e086 !important;
  --identity-icon-color: #86e086 !important;
}

.identity-color-yellow {
  --identity-tab-color: #e8e297 !important;
  --identity-icon-color: #e8e297 !important;
}

.identity-color-orange {
  --identity-tab-color: #dbd47b !important;
  --identity-icon-color: #dbd47b !important;
}

.identity-color-red {
  --identity-tab-color: #e0625f !important;
  --identity-icon-color: #e0625f !important;
}

.identity-color-pink {
  --identity-tab-color: #6079ad !important;
  --identity-icon-color: #6079ad !important;
}

.identity-color-purple {
  --identity-tab-color: #9496a0 !important;
  --identity-icon-color: #9496a0 !important;
}

#zen-appcontent-navbar-container {
  background-color: #131315 !important;
}
