/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #000000 !important;
  --toolbarbutton-icon-fill: #c6c6c6 !important;
  --toolbar-field-color: #e2e2e2 !important;
  --tab-selected-textcolor: #c6c6c6 !important;
  --toolbar-color: #e2e2e2 !important;
  --arrowpanel-color: #e2e2e2 !important;
  --arrowpanel-background: #1f1f1f !important;
  --sidebar-text-color: #e2e2e2 !important;
/*  --zen-main-browser-background: #131313 !important; */
}

.sidebar-placesTree {
  background-color: #1f1f1f !important;
}

#zen-workspaces-button {
  background-color: #1f1f1f !important;
}

#TabsToolbar {
  background-color: #131313 !important;
}

.urlbar-background {
  background-color: #1f1f1f !important;
}

.urlbar-input::selection {
  color: #303030 !important;
  background-color: #c6c6c6 !important;
}

.urlbarView-url {
  color: #cfc4c5 !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #c6c6c6
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #d4d4d4 !important;
  --identity-icon-color: #d4d4d4 !important;
}

.identity-color-turquoise {
  --identity-tab-color: #c6c6c6 !important;
  --identity-icon-color: #c6c6c6 !important;
}

.identity-color-green {
  --identity-tab-color: #aee086 !important;
  --identity-icon-color: #aee086 !important;
}

.identity-color-yellow {
  --identity-tab-color: #e8bd97 !important;
  --identity-icon-color: #e8bd97 !important;
}

.identity-color-orange {
  --identity-tab-color: #dba87b !important;
  --identity-icon-color: #dba87b !important;
}

.identity-color-red {
  --identity-tab-color: #e05f97 !important;
  --identity-icon-color: #e05f97 !important;
}

.identity-color-pink {
  --identity-tab-color: #b0626d !important;
  --identity-icon-color: #b0626d !important;
}

.identity-color-purple {
  --identity-tab-color: #949494 !important;
  --identity-icon-color: #949494 !important;
}

#zen-appcontent-navbar-container {
  background-color: #131313 !important;
}
